.navigation
{
    float: left;
}
.navigation ul li
{
    display: inline;
}
.navBar
{
    width: 1920px;
    height: 40px;
    background-color: black;
}
.navLinks
{
    line-height: 2.5;
}
.navLinks li a
{  
    text-decoration: none;
    color: white;
}
.navLinks li a:hover
{
    color: lightcoral;
}
.header
{
    text-align: center;
}
.contentBody
{
    height: auto;
    width: auto;
}
.contentMenu
{
    text-align: center;
}
.contentMenu ul li
{
    display: inline;
    color: black;
}